<h1>
  Students belonging to <%= @section ? @section.display_name : @house.name %>
</h1>
<% @students.each do |student| %>
<%= student.name %> <%= student.address %> <%= student.fathers_name %><br>
<%= link_to "Delete", student_path(student), method: :delete %> | <%= link_to "Edit", edit_student_path(student) %><br>
<% end %>
<p>
  <% if @students.length > 0 %>
The total number of students in <%= @section ? @section.display_name : @house.name %> is
<%= @students.length %>
<% else %>
There are no students in <%= @section ? @section.display_name : @house.name %>
<% end %>
</p>

<%= link_to "Add New Student", new_student_path %><br>
<%= link_to "Home", root_path %>
