<h1>sections yo</h1>
<% @sections.each do |section| %>
<%= link_to section.name, students_path(section_id: section.id)  %>
<%= link_to "Delete", standard_section_path(@standard, section), method: :delete, class: "btn btn-default", data: {confirm: "Are you sure?"} %> <%= link_to "Edit", edit_standard_section_path(@standard, section), class: "btn btn-default" %><br>
<% end %>
<%= link_to "Home", root_path, class: "btn btn-primary" %><br>
<%= link_to "Add New Section", new_standard_section_path(@standard), class: "btn btn-primary" %>
